<ion-item [routerLink]="'/org/tabs/social/' + org._id">
  <!-- <ion-thumbnail slot="start">
    <ion-img [src]="org.imageUrl"></ion-img>
  </ion-thumbnail> -->
  <ion-label>
    <h1>{{ org.name }}</h1>
    <div class="org-details">
      <ion-icon name="calendar" color="primary"></ion-icon>
      <ion-text color="tertiary" class="space-left">{{
        org.eventDate | date
      }}</ion-text>
      <span class="space-left"></span>
      <ion-text color="tertiary" class="ion-float-right">{{
        org.members.length
      }}</ion-text>
      <ion-icon
        name="person"
        class="ion-float-right"
        color="primary"
      ></ion-icon>
    </div>
  </ion-label>
</ion-item>
